name: pre-commit

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  checks: write
  contents: write

jobs:
  check-commit-message:
    name: Check Commit Message
    runs-on: ubuntu-latest
    steps:
      # - name: Check Commit Type
      #   uses: gsactions/commit-message-checker@v1
      #   with:
      #     pattern: '^(.*): (.*)$'
      #     flags: 'gm'
      #     error: 'Commit title does not follow format-> type: message'
      - name: Check Line Length
        uses: gsactions/commit-message-checker@v1
        with:
          pattern: '^[^#].{50}'
          error: 'The maximum title length of 50 characters is exceeded.'
      #     excludeDescription: 'true'
      # - name: Check Line Length
      #   uses: gsactions/commit-message-checker@v1
      #   with:
      #     pattern: '^[^*].{72}'
      #     error: 'The maximum desctiption length of 72 characters is exceeded.'
      #     excludeTitle: 'true'
      - run: echo "Checking commit message is completed"

  format-code:
    name: Format code
    runs-on: ubuntu-latest
    # needs: [check-commit-message]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      #- uses: isort/isort-action@master
      #  with:
      #    configuration: "--profile black"
      - uses: psf/black@stable
        with:
          options: ""
          src: "."
          version: "21.9b0"
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "style: Automated change"
      - run: echo "Formatted the code"

  
